/convert_plato_output/continous/out
/convert_plato_output/discrete/out
/1000G.EAS.QC.all.bim
/1000G.EAS.QC.snplist
/rsq_score
/discrete/d_ldsc*
/continous/ldsc.*
/discrete/out
/continous/out
/convert_plato_output/discrete/out
/convert_plato_output/continous/out
/convert_plato_output/ICA/out
/convert_plato_output/PCA/out
